@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

.wrapper {
  display: grid;
  grid-template-rows: 5x 200px 100px 50px;
  grid-template-columns: 200px 100px 100px;
  gap: 3px;
}

.box1 {
  grid-column: 1 / 4;
  border: 2px solid #041562;
  background-color: #041562;
}


.box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  border: 2px solid #041562;
  background-color: #9694FF; 
}

.box3 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  border: 2px solid #041562; 
}

.box4 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: 2px solid #041562; 
}

.box5 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  border: 2px solid #041562; 
}

.box6 {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  border: 2px solid #041562;
  background-color: #FF2929
